---
import { readdir } from "node:fs/promises";
import path from "node:path";
import Layout from "../../layouts/Layout.astro";

const texsetsDir = './public/by-author';

const arr = [];

for (const author of await readdir(texsetsDir)) {
    for (const texset of await readdir(path.join(texsetsDir, author))) {
        arr.push({ source: author, texset });
    }
}

console.log(arr);
---

<Layout>
    <ul>
        {arr.map(({ source, texset }) => <li>
            <a href={`/by-author/${source}/${texset}`}>
                {texset}
                <p>by {source}</p>
            </a>
        </li>)}
    </ul>
</Layout>