---
import Layout from '../layouts/Layout.astro';

import { texsets } from '@/lib/texture-sets';

---

<Layout>
    <h1>Tower Unite Texture Sets</h1>

    <ul>
        {texsets.map(({ source, name: texset }) => <li>
            <a href={`/texsets/${source}/${texset}`}>
                {texset}
                <p>by {source}</p>
            </a>
        </li>)}
    </ul>
</Layout>
